<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CV - Thibault Paul</title>
    <link rel="stylesheet" href="dist/output.css" />
  </head>
  <body class="bg-gray-100">
    <div class="container mx-auto px-4 py-8">
      <div class="bg-white rounded-lg shadow-lg p-6 md:p-8">
        <!-- Header -->
        <section>
          <div
            class="flex flex-col md:flex-row items-center justify-between mb-4"
          >
            <div class="flex flex-row items-center mb-4 md:mb-0">
              <img
                src="images/photo_cv.jpg"
                alt="Photo de profil"
                class="w-20 h-26 rounded-full object-cover mr-4"
              />
              <div>
                <h1 class="text-2xl font-bold mb-1">Thibault Paul</h1>
                <p class="font-bold mb-1">Etudiant en BTS SIO option SLAM</p>
              </div>
            </div>

            <div class="text-right mt-4 md:mt-0">
              <p class="mb-2">thbltpaul@gmail.com</p>
              <!--<p class="mb-2">06.60.40.21.95</p>-->
            </div>
          </div>
        </section>
        <hr class="my-4" />

        <!-- Expérience professionnelle -->
        <section class="bg-gray-100 rounded-lg p-4 mb-4">
          <h2 class="text-xl font-bold mb-2">Expériences professionnelles</h2>
          <ul class="list-disc ml-4 mb-4">
            <li>
              <strong>Raquettes Du Miosson</strong> - Stage de 2nd année
              (février 2024)
            </li>
            <li>
              <strong>VapenJoy</strong> - Stage de 1ère année en développement
              web sur PrestaShop (juin 2023)
            </li>
            <li>
              <strong>Intermarché</strong> - Hôte de caisse à mi-temps (depuis
              septembre 2022)
            </li>
            <li>
              <strong>Intermarché</strong> - Hôte de caisse saisonnier
              (juillet/août 2022)
            </li>
            <li>
              <strong>Confection et assemblage de PC</strong> - pour
              particuliers (depuis mars 2021)
            </li>
            <li>
              <strong>Sofresco</strong> - Manutentionnaire (juillet/août 2021)
            </li>
          </ul>
        </section>

        <!-- Formation -->
        <section class="bg-gray-100 rounded-lg p-4 mb-4">
          <h2 class="text-xl font-bold mb-2">Formation</h2>
          <ul class="list-disc ml-4 mb-4">
            <li>
              <strong
                >BTS Services Informatiques aux Organisations (SIO) option
                Solutions Logicielles et Applications Métiers (SLAM)</strong
              >
              - Lycée Saint-Luc (2022 - 2024)
            </li>
            <li>
              <strong>Diplôme de Comptabilité et de Gestion</strong> - Lycée
              Edouard Gand (2021 - 2022)
            </li>
            <li>
              <strong>Bac STMG option Gestion-Finances</strong> - Lycée Pierre
              de la Ramée (2018 - 2021)
            </li>
          </ul>
        </section>

        <!-- Compétences -->
        <section class="bg-gray-100 rounded-lg p-4 mb-4">
          <h2 class="text-xl font-bold mb-4">Compétences</h2>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <div>
              <p class="font-bold mb-2">Hard skills</p>
              <ul class="list-disc ml-4">
                <li>
                  Programmation orientée objet (<strong>Java, Python</strong>)
                </li>
                <li>
                  Développement web (<strong>HTML, CSS ,Javascript</strong>)
                </li>
                <li>Framework web (<strong>Tailwind CSS, Symfony</strong>)</li>
                <li>
                  Conception et manipulation des bases de données (<strong
                    >SQL, MySQL, phpMyAdmin</strong
                  >)
                </li>
                <li>
                  Utilisation d'outils de versioning (<strong>Git</strong>)
                </li>
                <li>Notions de base de réseau</li>
              </ul>
            </div>

            <div>
              <p class="font-bold mb-2">Soft skills</p>
              <ul class="list-disc ml-4">
                <li>Capacité d'adaptation</li>
                <li>Travail en équipe</li>
                <li>Communication efficace</li>
                <li>Autonomie</li>
                <li>Proactivité</li>
              </ul>
            </div>
          </div>
        </section>

        <!-- Langues -->
        <section class="bg-gray-100 rounded-lg p-4">
          <h2 class="text-xl font-bold mb-2">Langues</h2>
          <ul class="list-disc ml-4 mb-4">
            <li>Français (langue maternelle)</li>
            <li>Anglais (niveau intermédiaire)</li>
          </ul>
        </section>
      </div>
    </div>
  </body>
</html>
